<div class="container">
  <div class="row">

    <div class="col-md-offset-1 col-md-10">
      <h1 class="page-header">店家列表</h1>
      <% @shops.each do |shop| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <h3><%= shop.name %></h3>
            <p><%= shop.tel %></p>
            <%= link_to "訂飲料", shop_orders_path(shop), method: :post, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
