body {
  padding: 70px;
}

.entry {
  padding: 0;
  margin-bottom: 10px;
}

.entry li, .entry a, .entry.form-inline * {
  text-align: center;
  display: inline-block;
  width: 12%;
  max-width: 12%;
  height: auto;
}
img {
  width: 100%;
}
